@Styles.Render("~/Content/Custom/Home/css/home.css")

@{
    ViewBag.Title = "Home Page";
}

<div class="main-content-container">
    <h2 class="table-title">VidGO</h2>

    <div class="table-container">
        <!--Carousel Wrapper-->
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h3>About</h3>
                    <ul>
                        <li>VidGO is a video rental management application designed for usage of rental store staff members.</li>
                        <li>This application is dedicated only for physical retail business management purposes.</li>
                        <li>Based on user account type you get priviliges to get accesss to different parts of application to perform actions.</li>
                    </ul>
                </div>
                <div class="item">
                    <h3>Account role types</h3>
                    <table class="table user-table">
                        <thead>
                            <tr>
                                <th class="text-center" rowspan="2">Account user type</th>
                                <th class="text-center" colspan="3">Permitions</th>
                            </tr>
                            <tr>
                                <th class="text-center">Read</th>
                                <th class="text-center">Write</th>
                                <th class="text-center">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Manager</td>
                                <td>X</td>
                                <td>X</td>
                                <td>X</td>
                            </tr>
                            <tr>
                                <td>Employee</td>
                                <td>X</td>
                                <td>X</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Guest</td>
                                <td>X</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="item">
                    <h3>Login data</h3>
                    <p class="text-center">You can try out this application by simply log in on one of below demo accounts!</p>
                    <table id="user-login-data-table" class="table user-table">
                        <thead>
                            <tr>
                                <th class="text-center">Account user type</th>
                                <th class="text-center">Login</th>
                                <th class="text-center">Password</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Manager</td>
                                <td>manager@demo.com</td>
                                <td>Manager1@@</td>
                            </tr>
                            <tr>
                                <td>Employee</td>
                                <td>employee@demo.com</td>
                                <td>Employee1@@</td>
                            </tr>
                            <tr>
                                <td>Guest</td>
                                <td>guest@demo.com</td>
                                <td>Guest1@@</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/.Slides-->
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Controls-->
            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->
    </div>
</div>