* {
    box-sizing: border-box;
}

.main-content-container {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
    width: 400px;
    padding: 30px 50px 40px 50px;
    margin: 40px 0px 40px 0px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, #227f8e 120px, #fff 120px);
}

.form-control[disabled] {
    cursor: default;
}

button {
    margin-top: 20px;
    margin-left:13px;
    width:130px;
    border-radius: 20px;
    border: 1px solid #2aa1c0;
    background-color: #2aa1c0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
}

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }